<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h2><%= pet.breed %></h2>
  <p>name: <%= pet.name%> </p>
  <p>age: <%= pet.age%> </p>
  <p>color: <%= pet.color%> </p>
  <img src="<%= pet.image %>" />
<% end %>

<div>
<%= link_to "New Pet", new_pet_path %>
</div>

